<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="built/css/bootstrap.min.css">
    <link rel="stylesheet" href="built/css/index.css">
</head>
<body>
    <div class="container-fluid parallax">
        <div class="container">
            <nav class="row">
                <div>
                    <a class="btn btn-dark">Home</a>
                    <a class="btn btn-dark">Newsletter</a>
                    <a class="btn btn-dark">Company</a>
                </div>
            </nav>
        </div>
        <div class="container">
            <section class="row justify-content-between">
                <header class="col-md-4">
                    <h1>The React + Spring Boot + MongoDB Website</h1>
                    <p>A lot of people might ask: "For what god forsaken reason did you do that website in such a god forbidden
                        combination of technologies?", to these people I have a one word answer - kill me. These are indeed two
                        words but I am bad at math and you will suffer because of it.</p>
                </header>

                <div id="login-form" class="col-md-4"></div>
            </section>
        </div>
    </div>
</body>
</html>